<div class="jumbotron">
  <h1>Inspire Us</h1>
  <h3>Connecting Teachers and Professionals to inspire kids in classrooms.</h3>
  <p><%= link_to 'Sign Up as a Professional', new_professional_path, class:'btn btn-primary btn-lg'%></p>
  <p><%= link_to 'Sign Up as a Teacher', new_teacher_path, class:'btn btn-primary btn-lg'%></p>
</div>

