<h1>Listing professionals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profession</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= link_to professional.name, professional %></td>
        <td><%= professional.profession %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
